.Template {
	max-height: 100vh;
	padding: 17px 10px;
}

.Template img {
	max-height: 20%;
	max-width: 30%;
	border: 3px solid #ffe714;
	border-radius: 50%;
	margin-bottom: 10px;
}

.title {
	text-align: center;
}

.title div {
	width: 90vw;
	margin: 0;
	padding-bottom: 20px;
  font-size: 1.5rem;
  font-weight: bold;
	font-style: italic;
  color: #48441e;
	text-align: center;
}