@import url('https://fonts.googleapis.com/css?family=Baloo');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #f7f7f7;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
	font-family: 'Baloo', cursive;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}
a:hover {
	text-decoration:none !important;
}


.main_img {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 6rem;
}

.main_img img{
	max-width: 40%;
	border-radius: 50%;
	background: #0a91ab;
	box-shadow: inset 0 0 5px #fff;
}

.match_list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 1.5rem;
}

.match_list li {
		padding: 25px;
    background: dodgerblue;
    margin: 10px auto;
    border-radius: 15px;
}

.match_list a {
	font-weight: bold;
  color: #fff;
	font-size: 1rem;
}

.detail-mvp {
	color: #0ca4c1!important;
	font-size: 1.4rem;
	font-weight: 600;
}

.result {
	color: #ff7d7d;
}

.add-match-button {
	position: fixed;
  right: -5px;
  bottom: 0;
  z-index: 100;
  width: 100px;
  height: 100px;
  cursor: pointer;
  font-size: 4.5rem;
  color: #ffe714;
}

.link {
	width: 100px;
	height: 100px;
	color: red;
	background: black;
	display: flex;
	align-items: center;
	justify-content: center;
}


.input_area {
  margin: 1rem;
}

.input_area label {
  display: block;
  margin-bottom: 10px;
}

.input_area input {
  width: 360px;
  height: 50px;
  font-size: 18px;
  padding: 0 10px;
}

.paginate {
	display: flex;
	justify-content: center;
	margin-top: 3rem;
}

.paginate svg {
	color: dodgerblue;
	font-size: 5rem;
}