* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	ul{list-style: none;}
	font-family: 'Montserrat', sans-serif;
	a{
		color: #000;
		text-decoration: none;
	}
}

.App {
	text-align: center;
}

.main-logo {
	height: 140px;
	width: 90%;
	border: 3px solid #ffe714;
	border-radius: 50%;
	padding: 10px;
	margin-bottom: 10px;
}


.list {
	margin-bottom: 16px;
	padding: 0 0 15px 20px;
	text-align: left;
	border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
}


.nav-bar {
	display: flex;
	width: 100%;
	padding-left: 20px;
	margin-top: 15px;
	justify-content: center;
}

.modal, .update {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: baseline;
	line-height: 2rem;

		.modal__overlay, .update__overlay {
			background-color: rgba(0, 0, 0, 0.6);
			width: 100%;
			height: 100%;
			position: absolute;
		}
		
		.modal__content, .update__content {
			background-color: #ffd4d4;
			padding: 70px 100px;
			box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
			position: relative;
			width: 40%;
			text-align: center;
			border-radius: 15px;
			top: 25%;
		}
		.modal__close, .update__close {
			width:50%;
			background: white;
			border: none;
			border-radius: 5px;
			padding: 6px;
		}
	
}






